h1 {
margin: 0;
padding: 0;
}

.input {
    margin-top: 10px;
    padding: 5px;
    width: 70%;
    outline: none;
    
}
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    padding: 15px;
    display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   
}

.title {
    font-size: 20px;
    margin-bottom: 10px;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 4%;
   height: 320px;
   width: 225px;
   
}

.link {
    color: #000;
    text-decoration: none;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
}
